[Unit]
Description=Mount unit for snap-store, revision 547
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/snap-store_547.snap
Where=/snap/snap-store/547
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
